<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>{{'Nav.Menu.Title'| translate}}</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="flow" (click)="drawer.toggle()"><mat-icon>home</mat-icon>{{'Nav.Menu.Home'|translate}}</a>
      <a mat-list-item routerLink="list" (click)="drawer.toggle()"><mat-icon>receipt_long</mat-icon>{{'Nav.Menu.Transactions'|translate}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- begin -->
      <div class="container">
        <mat-icon svgIcon="logo" class="icon-display"></mat-icon>
        <span>WorkOut Buddy</span>
      </div>
      <!-- end -->
      <div class="container">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>language</mat-icon> 
        </button>
        <span>{{translate.currentLang}}</span>
        <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let lang of langs" (click)="changeLang(lang)">
              <span>{{lang}}</span>
            </button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="route-container">
      <ng-content></ng-content>
    </div>
   
  </mat-sidenav-content>
</mat-sidenav-container>