.bottom-button{
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 10px;
    justify-content: center;
}

.actions-container{
    gap: 10px
}

.cards-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}