input{
    width: 100%;
}
.input{
    //border: 2px solid #e8e8e8;
    //padding: 15px;
    aspect-ratio: 1.7;
    border-radius: 10px;
    background-color: #b0b0b0;
    //font-size: 200%;
    //font-weight: bold;
    text-align: center;
    padding: unset !important;
    border: unset !important;
    margin: unset !important;
   }